<div class="px-5 py-4 border-b border-gray-200 flex items-center justify-between">
    <h2 class="text-lg font-semibold text-gray-800">Especimens</h2>
    <!-- Acciones opcionales -->

</div>


<form class="max-w-sm mx-auto" [formGroup]="specimenForm" (ngSubmit)="sendForm()">
    <div class="mb-5">
        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Precio</label>
        <input type="text" id="price" formControlName="price"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
        <div *ngIf="specimenForm.get('price')?.invalid && specimenForm.get('name')?.touched">
            <small *ngIf="specimenForm.get('price')?.errors?.['required']" class="text-red-500">El precio es necesario.</small>

        </div>
    </div>
    <div class="mb-5">
        <label for="booksId"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Libro</label>
        <input type="text" id="booksId" formControlName="booksId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
              <div *ngIf="specimenForm.get('booksId')?.invalid && specimenForm.get('booksId')?.touched">
            <small *ngIf="specimenForm.get('booksId')?.errors?.['required']" class="text-red-500">El libro es necesario</small>
        </div>
    </div>
     <div class="mb-5">
        <label for="condition"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Condición</label>
        <input type="text" id="condition" formControlName="condition"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
              <div *ngIf="specimenForm.get('condition')?.invalid && specimenForm.get('condition')?.touched">
            <small *ngIf="specimenForm.get('condition')?.errors?.['required']" class="text-red-500">La condición es necesaria</small>

        </div>
    </div>
     <div class="mb-5">
  <label for="observation"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Observaciones</label>
  <input type="text" id="observation" formControlName="observation"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
  
  <div *ngIf="specimenForm.get('observation')?.invalid && specimenForm.get('observation')?.touched">
    <small *ngIf="specimenForm.get('observation')?.errors?.['minlength']" class="text-red-500">
      La observación debe tener al menos 5 caracteres.
    </small>
  </div>
</div>


      <div class="mt-4 flex flex-col sm:flex-row gap-3 justify-end">
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
        
          <button routerLink="/specimens"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cerrar</button>
        </div>
</form>

