<div class="px-5 py-4 border-b border-gray-200 flex items-center justify-between">
    <h2 class="text-lg font-semibold text-gray-800">Author Editar</h2>
    <!-- Acciones opcionales -->

</div>
<form class="max-w-3xl mx-auto" [formGroup]="authorForm" (ngSubmit)="updateAuthor()">
  <!-- GRID -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <!-- Nombre -->
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Nombre
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <div *ngIf="authorForm.get('name')?.invalid && authorForm.get('name')?.touched">
        <small *ngIf="authorForm.get('name')?.errors?.['required']" class="text-red-500">
          El nombre es obligatorio.
        </small>
      </div>
    </div>

    <!-- Apellidos -->
    <div>
      <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Apellidos
      </label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <div *ngIf="authorForm.get('lastName')?.invalid && authorForm.get('lastName')?.touched">
        <small *ngIf="authorForm.get('lastName')?.errors?.['required']" class="text-red-500">
          Los apellidos son obligatorios.
        </small>
      </div>
    </div>


     <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Email
      </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <div *ngIf="authorForm.get('email')?.invalid && authorForm.get('email')?.touched">
        <small *ngIf="authorForm.get('email')?.errors?.['required']" class="text-red-500">
          El correo es obligatorio.
        </small>
      </div>
    </div>

    <!-- Apellidos -->
    <div>
      <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Fecha Nacimiento
      </label>
      <input
        type="date"
        id="birthdate"
        formControlName="birthdate"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <div *ngIf="authorForm.get('birthdate')?.invalid && authorForm.get('birthdate')?.touched">
        <small *ngIf="authorForm.get('birthdate')?.errors?.['required']" class="text-red-500">
          La fecha de nacimiento es requerido
        </small>
      </div>
    </div>


    <div>
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Telefono
      </label> 
      <input
        type="text"
        id="phone"
        formControlName="phone"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <div *ngIf="authorForm.get('phone')?.invalid && authorForm.get('phone')?.touched">
        <small *ngIf="authorForm.get('phone')?.errors?.['required']" class="text-red-500">
          El telefono es requerido
        </small>
      </div>
    </div>

    <!-- Si más campos, agrégalos como <div> dentro del grid -->
  </div>

  <!-- ACCIONES -->
  <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-end">
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
             focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5
             dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Enviar
    </button>

    <button type="button" routerLink="/author"
      class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none
             focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">
      Cerrar
    </button>
  </div>
</form>

