<div class="px-5 py-4 border-b border-gray-200 flex items-center justify-between">
    <h2 class="text-lg font-semibold text-gray-800" *ngIf="publishersData">Editar Clasificacion {{ publishersData.name }}</h2>
    <!-- Acciones opcionales -->

</div>


<form class="max-w-sm mx-auto" [formGroup]="publishersForm" (ngSubmit)="updateClassification()">
    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre</label>
        <input type="text" id="name" formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
        <div *ngIf="publishersForm.get('name')?.invalid && publishersForm.get('name')?.touched">
            <small *ngIf="publishersForm.get('name')?.errors?.['required']" class="text-red-500">El nombre es
                obligatorio.</small>

        </div>
    </div>
    <div class="mb-5">
        <label for="city"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Ciudad</label>
        <input type="text" id="city" formControlName="city"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
              <div *ngIf="publishersForm.get('city')?.invalid && publishersForm.get('city')?.touched">
            <small *ngIf="publishersForm.get('city')?.errors?.['required']" class="text-red-500">La ciudad
                obligatorio.</small>

        </div>
    </div>
        <div class="mb-5">
        <label for="country"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pais</label>
        <input type="text" id="country" formControlName="country"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
              <div *ngIf="publishersForm.get('country')?.invalid && publishersForm.get('country')?.touched">
            <small *ngIf="publishersForm.get('country')?.errors?.['required']" class="text-red-500">El pais  es requerido.</small>

        </div>
    </div>
            <div class="mb-5">
        <label for="phone"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
        <input type="text" id="phone" formControlName="phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             />
              <div *ngIf="publishersForm.get('phone')?.invalid && publishersForm.get('phone')?.touched">
            <small *ngIf="publishersForm.get('phone')?.errors?.['required']" class="text-red-500">El phone  es requerido.</small>

        </div>
    </div>

      <div class="mt-4 flex flex-col sm:flex-row gap-3 justify-end">
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar</button>
        
          <button routerLink="/publishers"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cerrar</button>
        </div>
</form>

